@import '~bootstrap/scss/bootstrap';


.hidden {
  display: none;
}

.box {
  border-left-color: #c0c0c0;
  border-left-style: solid;
  border-right-color: #c0c0c0;
  border-right-style: solid;
  border-width: normal;
  height: 50px;
  width: 50px;

}
#state-message {
  color: red;
}

#tuning-title-container {
  padding-top: 25px;
}

.buttons-and-fields {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 50%;
  margin: 0 auto;
}

#row-0 {
  border-top-style: solid;
}

#row-5 {
  border-bottom-style: solid;
}

#tuner {
  border-left-color: #000000;
}

.container {
  background-color: #b35900;
}

.last-fret {
  border-right-color: #000000;
  border-right-style: solid;
}

#fret-0-3 #fret-0-5 #fret-0-7 {

}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.text-center {
      display: flex;
      justify-content: center;
      align-items: center;


}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 50%;
    margin: 0 auto;
}

.dropdown .dropdown-toggle {
  max-height: 50px;
  text: white;
}
